.InputBox {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 60vh;
    z-index: 0;
}

.Placeholder {
    margin-top: 130vh;
    z-index: -1;
    position: absolute;
    font-size: 72px
}

.animationForInputBox {
    display: block;
    animation-name: animate-text;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@keyframes animate-text {
    0% {
        opacity: 0%;
        left: 0px;
        transform: translateX(-10vw);
    }

    100% {

        opacity: 100%;
        transform: translateX(0vw);
    }
}

.button {
    border: none;
    color: rgb(156, 13, 13);
    padding: 0px 5px;
    text-align: center;
    font-size: 16px;
    margin: 4px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 1;
}

.button1 {
    background-color: #33bbcf;
    color: rgb(158, 158, 158);
    border: 2px solid gray;
}

.button1:hover {
    background-color: white;
    color: white;
    box-shadow: 0px 0px 200px 0px rgba(255, 255, 255, 0.24), 0px 0px 16px 5px rgba(255, 255, 255, 0.24);
}

.form {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    opacity: 0%;
}

.formTitle {
    font-size: 72px;
}

@media all and (max-device-width: 720px) {
    .formTitle {
        font-size: 20px;
        overflow: hidden;
    }

    .InputBox {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin-top: 40vh;
        z-index: 2;
    }

    .Placeholder {
        margin-top: 50vh;
        opacity: 0%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        font-size: 2px;
    }

    .form {
        opacity: 100%;
        z-index: 2;
    }

    /* .animationForInputBox {} */
}