.moveTextDown {
    transform: translateY(20px);
}

.pageHeader {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 200px;
}

.urlShort {
    width: 395px;
}

.bg-discount-gradient {
    background: linear-gradient(185.17deg, #272727 0%, #000000 100%);
    padding-left: 10px;
    padding-right: 10px;
}